.policy-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 95%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }
  
    h4{
       color: rgb(171, 170, 170);
       text-align: center;
       margin-bottom: 20px;
       font-size: 20px;
     }
    ul {
      list-style-type: disc;
      margin: 0;
      padding-left: 20px;
  
      li {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.5;
        color: #555;
  
        a {
          color: #007bff;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  