* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #144e94;
  scroll-behavior: smooth;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

section {
  height: 1000px;
  margin-bottom: 20px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .main-container {
      padding: 15px;
      gap: 15px;
  }

  section {
      height: 900px;
      margin-bottom: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .main-container {
      padding: 10px;
      gap: 10px;
  }

  section {
      height: 800px;
      margin-bottom: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .main-container {
      padding: 5px;
      gap: 5px;
  }

  section {
      height: auto;
      margin-bottom: 5px;
  }
}

/* Small devices (large phones, 576px and up) */
@media (max-width: 576px) {
  .main-container {
      padding: 2px;
      gap: 2px;
  }

  section {
      height: auto;
      margin-bottom: 2px;
  }
}

/* Extra small devices (phones, 480px and down) */
@media (max-width: 480px) {
  .main-container {
      padding: 1px;
      gap: 1px;
  }

  section {
      height: auto;
      margin-bottom: 1px;
  }
}
